In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases. 
Ans: Database is the process of storing the data in one place. 
Through database we can manage our data, manipulate, add, delete etc. 
SQL: Structured Query Language also called relational database. 
SQL requires us to use predefined schemas to determine the structure of our data before we work with it. 
Also, all of our data must follow the same structure. 
NoSql: Not only SQL also called non-relational database. 
A NoSQL database has a dynamic schema for unstructured data. 
Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. 
Ans: DDL:Data Definition Language,consists of the SQL commands that can be used to define the database schema. 
It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. 
DDL is a set of SQL commands used to create, modify, and delete database structures but not data.

Create: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers). 
Create database database_name Drop: This command is used to delete objects from the database. 
Drop database_name Alter: This is used to alter the structure of the database. 
Alter table Students Add Email varchar(255); 
Truncate: This is used to remove all records from a table, including all spaces allocated for the records are removed. 
Truncate Table table_name

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example. 
And: DML:Data Manipulation Language, SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.

INSERT: It is used to insert data into a table. 
INSERT INTO table_name VALUES (value1, value2, value3); UPDATE: It is used to update existing data within a table. 
UPDATE table_name SET column1 = value1 where column2 = XYZ DELETE: It is used to delete records from a database table. 
DELETE FROM table_name WHERE some_condition

In [ ]:
Q4. What is DQL? Explain SELECT with an example. 
Ans: DQL:Data Query Language, The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
Select * from Table_name

In [ ]:
Q5. Explain Primary Key and Foreign Key. 
Ans: Primary Key: A primary key generally focuses on the uniqueness of the table. 
It is a column or a set of columns that uniquely distinguishes every row in the database. 
It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.

Foriegn Key: A foreign key is generally used to build a relationship between the two tables. 
The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method. 
Ans: Please refer to showdb.py,createdb.py,createtable.py,insertinottable.py and viewtable.py

Cursor(): Allows Python code to execute PostgreSQL command in a database session. 
Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

execute(): Python’s built-in exec() function allows you to execute arbitrary Python code from a string or compiled code input.
The exec() function can be handy when you need to run dynamically generated Python code

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE TEST2")

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE TEST2.TEST2_TABLE(Age int, Name varchar(50))")
mydb.close()

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into TEST2.TEST2_TABLE values(25,'Aamir')")
mydb.commit()
mydb.close()

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select * from TEST2.TEST2_TABLE")
for i in mycursor.fetchall():
    print(i)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query. 
Ans:

from
where
groupby
having
select
order by
limit