Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s="Aamir"
l=[1,2,3,4,5,"Aamir"]
f=1.4
t={1,2,3,4,"Aamir"}

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [12]:
var1=''
type(var1)

str

In [10]:
var2='[ DS , ML , Python]'
type(var2)

str

In [11]:
var3=[ 'DS' , 'ML' , 'Python']
type(var3)

list

In [13]:
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example:

/

This is division and it comes from arthimetic operator

  Eg: 45/9 -->Output=5.0
  
      46/9 -->Output=5.11
      
      35/9 -->Output=3.88

%

This is Modulus operator its output is the reminder when we diivde 2 no's.


   Eg: 35%9   output=8

//

This is floar division, its gives output in int.

Eg: 46//9   Output=5

**

This is Exponentiation Operator.

Eg: 2**3=8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [52]:
list1=[1,4,5,9,'Abc','pwskill','data science',2.0,'Experience','Graduate']
for i in list1:
    print(i,"its data type",type(i))

1 its data type <class 'int'>
4 its data type <class 'int'>
5 its data type <class 'int'>
9 its data type <class 'int'>
Abc its data type <class 'str'>
pwskill its data type <class 'str'>
data science its data type <class 'str'>
2.0 its data type <class 'float'>
Experience its data type <class 'str'>
Graduate its data type <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [41]:
A=int(input("Enter first number"))
B=int(input("Enter second number"))
count=0
while(A>=B):
    if(A%B==0):
        count+=1
        A/=B
    else:
        break
print(count)

Enter first number 20
Enter second number 3

0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [48]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list:
    if(i%3==0):
        print(f"This number is {i} divisble by 3")
    else:
        print(f"This number is not {i} divisble by 3")

This number is not 1 divisble by 3
This number is not 2 divisble by 3
This number is 3 divisble by 3
This number is not 4 divisble by 3
This number is not 5 divisble by 3
This number is 6 divisble by 3
This number is not 7 divisble by 3
This number is not 8 divisble by 3
This number is 9 divisble by 3
This number is not 10 divisble by 3
This number is not 11 divisble by 3
This number is 12 divisble by 3
This number is not 13 divisble by 3
This number is not 14 divisble by 3
This number is 15 divisble by 3
This number is not 16 divisble by 3
This number is not 17 divisble by 3
This number is 18 divisble by 3
This number is not 19 divisble by 3
This number is not 20 divisble by 3
This number is 21 divisble by 3
This number is not 22 divisble by 3
This number is not 23 divisble by 3
This number is 24 divisble by 3
This number is not 25 divisble by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable means we are able to add the element or change the element at particular index.

Eg: list is mutable

Immutable means we are not able to add the element or change the element at particular index.

Eg: Strings are immutable